

/* Contact.css (or your custom CSS file) */

.message-field {
    border-left: 2px solid #27353f94; 
    border-right: 2px solid #27353f94;
    border-bottom: 2px solid #27353f94;
    border-radius: 0px;
  }
  
  .title-field {
    border-left: 2px solid #27353f94; 
    border-right: 2px solid #27353f94; 
    border-top: 2px solid #27353f94; 
    border-radius: 0px;
  }
  
 
  
  
  
 
  
  
  