doctype html 
html 
    head 
        title Contact us 
    body 
        h1 How can we help you?
        form(action="/thankyou" method="POST")
            label(for='name') Name: 
            br
            input(type="text" id="name" name="name" required)
            br
            label(for='email') Email: 
            br
            input(type="text" id="email" name="email" required)
            br
            label(for='notes') Notes: 
            br
            textarea(id="notes" name="notes" required) 
            br
            input(type="submit" value="Submit")
