.nav-container {
  background-color: #27353F;
  color: #F9E9CA;
  border: solid #EB9F71;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-between; 
  padding: 0 20px; 
}

nav {
  float: right;
}

.logo {
  float: left;
  font-size: 3.2rem;
  cursor: pointer;
}

ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

ul li:hover {
  color: #EB9F71;
}

.menu-icon {
  display: none; 
}


@media screen and (max-width: 960px) {
  .menu-icon {
    display: flex; /* Show the menu icon */
    align-items: center;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
  }

}
